@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(135deg, #f2f1ff 0%, #e9f3ff 50%, #fff1f1 100%);
    background-attachment: fixed;
    min-height: 100vh;
}